[submodule "hw3-Implementing NFT Marketplace/lib/solmate"]
	path = hw3-Implementing NFT Marketplace/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "hw3-Implementing NFT Marketplace/lib/openzeppelin-contracts"]
	path = hw3-Implementing NFT Marketplace/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
